<!-- PR Trigger: Josh was here  -->



<div class="mountain-card">
  <div class="card-header">
    <h3>{{name}}</h3>
    <div class="stars">{{{ratingHTML}}}</div>
  </div>
  <p><strong>Location:</strong> {{location}}</p>
  <p><strong>Current Weather:</strong> {{weather}}</p>
  <img src="{{imageURL}}" alt="{{name}}" />
</div>
